.StartSeite{
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    padding-top: var(--gap-md);
}

.StartSeite img.logo{
    width: min(25vw, 200px);
    margin: 1svh auto 3svh;
}

.StartSeite section{
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.StartSeite .scroll{
    overflow-x: auto;
    padding: 0 var(--gap-md);
    scrollbar-width: none;
}

.StartSeite section::-webkit-scrollbar{ display: none;}

.StartSeite section.CardLarge-container{
    flex-direction: row;

    padding-top: 3svh;
}

.StartSeite section.CardLarge-container > * { flex: 0 0 auto;}

.padding-left{ padding-left: var(--gap-md);}

.CafesList{
    display: flex;
    gap: var(--gap-sm);
    width: 100%;
    flex-wrap: nowrap;
}

.CafesList> *{ flex: 0 0 auto;}

.OtherCity-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 20px;
}

.StartSeite section.othercity-section{ gap: 16px;}

.othercity-titel{
    display: flex; flex-direction: column;
    gap: 0;

    & p{
        opacity: 0.6;
        font-size: 18px;
    }
}

.city-container{
    position: absolute;
    z-index: 3;
    top: 13svh; left: var(--gap-md);

    display: flex; flex-direction: column;
    gap: var(--gap-sm);

    padding: 4px 12px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    background-color: var(--light);


    & button{
        display: none;
        width: fit-content;
        border: none;
        background-color: transparent;
        color: var(--primary);
        font-size: 16px;
    }

    & .cityname{
        display: flex;
        align-items: center;
        gap: 8px;

        & img{
            width: 10px;
            height: 100%;
            margin-top: 5px;
        }
    }
}

.city-container.cityOption{
    padding: 8px 12px 20px;
    
    & button{ display:block}

    & .cityname{
        padding-bottom: 4px;
        border-bottom: 1px solid var(--primary);
        opacity: 0.5;

        & img{
            transform: rotate(-180deg);
            margin-top: 0;
        }
    }

}
